.container {
  width: 73vw;
  margin: 0 auto;
}
.fa-chevron-down{
  display: none !important;
}
.bg-div-nav {
  background: linear-gradient(to right, #eee, #eee);
}

.advertising-div {
  background: linear-gradient(to right, #eee, #eee);
}

header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

header .container .right-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

header .container ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .container ul a {
  font: 600 0.7rem "Arial";
  transition: .5s;
  border-bottom: 2px solid transparent;

  &:hover {
    border-color: black;
  }
}

header .container a img {
  height: 18px;
}
header .fa-apple{
  font-size: 1.2rem;
}
#xmark {
  position: fixed;
  right: calc(100% + 15px);
  top: 35px;
  font-size: 18px;
  transition: .6s ease-in-out;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  transition: .4s;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 10px;
}
.slider div{
  text-align: center;
}
.slider div p{
  font: 500 0.7rem "Arial";
  width: fit-content;
  line-height: 1.3;
}
.slider div span{
  font: 500 0.6rem "Arial";
  color:#bf4800;
}

.slider img {
  width: auto;
  height: 54px;
  
}

.advertising-div p {
  font: 540 1.3rem "Arial";
  text-align: center;
}

.advertising-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  gap: 15px;
}

.shop-iphone-links {
  font: 540 1rem "Arial";
  color: rgb(0, 145, 255);
  text-transform: capitalize;
  width: fit-content;
  margin: 0 auto;
}

/*TITANIUM SECTION STYLES--------------------------------------------------------------------------------------*/

.header-main-titanium,
.header-main-newphoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(to right, black, black);
  height: 95vh;
  padding: 45px 0;
}

.header-main-titanium span,
.header-main-newphoria span {
  font: 540 0.8rem "Arial";
  color: #bf4800;
  text-transform: capitalize;
}

.header-main-titanium h2,
.header-main-newphoria h2,
.section3-bg-div .content h2 {
  font: 540 1.1rem "Arial";
  text-transform: capitalize;
  color: gray;
  margin: 10px 0;
}

.header-main-titanium .titanium-img {
  height: 2.55rem;
  margin: 0;
}

.header-main-titanium p,
.header-main-newphoria p,
.section3-bg-div .content p {
  font: 540 0.9rem "Arial";
  color: white;
  margin: 15px 0;
}

.buy {
  color: white;
  background-color: rgb(19, 106, 255);
  padding: 12px 27px;
  border-radius: 20px;
  font: 540 .8rem "Arial";
  text-transform: capitalize;
  margin: 10px 0;
  transition: .3s;

  &:hover {
    box-shadow: 5px 5px 10px -2px #eee;
  }
}

.learn-more {
  color: rgb(19, 106, 255);
  font: 540 1rem "Arial";
  margin: 15px 0;
}

.header-main-titanium div {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-main-titanium div img {
  margin: auto;
  height: 42%;
}

/*NEWPHORIA SECTION STYLES------------------------------------------------------------------------------------*/
.header-main-newphoria {
  height: 96vh;
  background: linear-gradient(to right, white, white);
  overflow: hidden;
}

.header-main-newphoria h3 {
  font: 540 2.8rem "Arial";
  text-transform: capitalize;
}

.header-main-newphoria h2,
.section3-bg-div .content h2 {
  color: black;
}

.header-main-newphoria p {
  color: black;
}

.header-main-newphoria div {
  height: 70vh;
  display: flex;
  align-items: end;
}

.header-main-newphoria img {
  height: 54vh;
}

/*SECTION 3 STYLES*/
.section3-bg-div {
  height: 100vh;
}

.section3-bg-div .container {
  display: flex;
  gap: 180px;
  align-items: center;
  justify-content: center;
}

.section3-bg-div .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3-bg-div .content p {
  color: black;
  font-size: 1.2em;
}

.section3-bg-div .image {
  height: 100vh;
}

.section3-bg-div .image img {
  height: 100%;
}

/* .section3-bg-div .content h2{
  font: 400 1.1rem "Arial";
  text-transform: capitalize;
} */
.section3-bg-div .content h3 {
  text-align: center;
  font: 600 3rem "Arial";
  line-height: 1.7;
  color: #1e3791;
}

/*SECTION 4 STYELS-----------------------------------------------------------------------------------------*/
.section4-bg-div {
  background: url("https://css-exam-mu.vercel.app/img/applebg12.jpeg")center/cover;
  height: 100vh;
  margin: 40px 20px;
  border-radius: 30px;
  display: flex;
  align-items: end;
}

.section4-bg-div .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}

.section4-bg-div .container h3 {
  font: 600 1.4rem "Arial";
  color: white;
}

.section4-bg-div .container h2 {
  font: 500 2.8rem "Arial";
  max-width: 290px;
  color: white;
}

.section4-bg-div .container a {
  font: 500 13px "Arial";
  padding: 8px 20px;
  /* text-transform: capitalize; */
  background-color: #ffffffcc;
  border-radius: 20px;
}

.fa-circle-play {
  display: none !important;
}

.section4-bg-div2 {
  width: 100%;
  height: 25vh;
}

/*SECION 5 STYLES ------------------------------------------------------------------------------------------*/

.section5-bg-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  gap: 25px;
  height: 290vh;
}

.section5-bg-div .container {
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.section5-bg-div .container .phone-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.section5-bg-div .container .phone-card {
  display: flex;
  flex-direction: column;
  width: 165px;
}

.section5-bg-div h1 {
  font: bold 3rem "Arial";
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.phone-card a {
  width: fit-content;
  margin: auto;
}

.phone-card .phone-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 265px;
}

.phone-card .phone-images .phone-img {
  height: 220px;
  object-fit: cover;
}

.phone-card .phone-images .color-img {
  height: 1.75rem;
  object-fit: cover;
}

.basic-phone-info {
  height: fit-content;
  position: relative;
  display: flex;
  padding: 15px 0 0 0;
  flex-direction: column;
  text-align: center;
}

.basic-phone-info span {
  color: #bf4800;
  font: 400 14px Arial;
  text-transform: capitalize;
}

.basic-phone-info h2 {
  font: bold 16px "Arial";
}

.basic-phone-info p {
  font: 500 16px "Arial";
  margin: 10px 0;
}

.basic-phone-info h4 {
  font: 400 12px "Arial";
  margin: 10px 0;
}

.basic-phone-info .learn-more {
  padding: 25px 0;
}

hr {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: -47.5px;
  width: 260px;
  margin: 0 auto;
}

.info-sections {
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.info-section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-sections p {
  font: 400 .7rem "Arial";
  max-width: 144px;
  line-height: 23px;
}

.info-sections span {
  font: 600 1.4rem "Arial";
}

.info-sections img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.section5-bg-div .link1 {
  margin: 15px auto 20px auto;
}

.section5-bg-div .link2 {
  margin: 20px auto;
}

/* SECTION 6 STYLES------------------------------------------------------------------------------------- */
.section6-bg-div {
  height: 455vh;
  background: #f2f2f2;
  padding: 40px 0;
}

.section6-bg-div .container {
  width: 71vw;
}

.section6-bg-div h2 {
  font: 500 2.8rem "Arial";
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.section6-bg-div .card-div h3 {
  font: 600 1.5rem "Arial";
  width: 271px;
  margin: 30px auto;
  text-align: center;
}

.section6-bg-div .container .learn-more {
  display: inline-block;
  width: fit-content;
  margin: 20px auto;
  text-align: center;
}

.section6-bg-div .img-div img {
  width: 100%;
}

.section6-bg-div .img-div {
  height: 30vh;
  display: flex;
  align-items: center;
}

.section6-bg-div .img-div2 img {
  width: 50%;
}

.section6-bg-div .img-div3 img {
  width: 60%;
}

.section6-bg-div .card-div {
  width: 31.5%;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

.section6-bg-div .cards-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.section6-bg-div .card-div p {
  margin: auto;
  width: 95%;
  font: 500 1rem "Arial";
  color: rgb(110, 110, 115);
}

.one-card-div {
  text-align: center;
  padding-top: 30px;
  background: url("https://css-exam-mu.vercel.app/img/applebg6.jpeg")center/cover;
  height: 80vh;
  margin-top: 35px;
}

.one-card-div h2 {
  font-weight: bold;
  font-size: 3rem;
  max-width: 500px;
}

.one-card-div .content p {
  font: 500 1rem "Arial";
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.vertical-cards-div h2 {
  max-width: 300px;
  font: bold 3rem "Arial";
  margin: 40px auto;
  text-align: center;
}

.vertical-card-div {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #FCFCFE;
  padding: 40px 0 !important;
  margin-bottom: 10px;
}

.vertical-cards-div .air .vertical-img-div {
  order: -1;
}

.vertical-cards-div .air .vertical-img-div img {
  padding: 0 0 0 10px !important;
}

.vertical-cards-div .air .content {
  padding-left: 0 !important;
}

.vertical-cards-div .air .content p {
  max-width: 100%;
  line-height: 1.7;
}

.vertical-cards-div .air .content div a {
  margin: 15px 0 25px 0 !important;
}

.vertical-cards-div .air {
  background-color: #fff;
}

.vertical-cards-div .magic .content p {
  max-width: 100%;
  font: 500 1rem "Arial";
  line-height: 1;
}

.vertical-cards-div .magic .content a {
  margin: 15px auto !important;
}

.vertical-cards-div .magic .content {
  padding: 0 !important;
}

.vertical-cards-div .magic .vertical-img-div img {
  padding: 0 !important;
}

.vertical-cards-div .magic .vertical-img-div {
  flex-direction: column;
  height: 52vh;
  width: 76%;
  margin: 5px auto;
}

.vertical-cards-div .magic {
  flex-direction: column;
  background-color: #fff;
  padding: 0 !important;
}


.vertical-cards-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.vertical-card-div .vertical-img-div {
  width: 50%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-card-div .vertical-img-div img {
  padding-right: 10px;
  width: 100%;
}

.vertical-card-div .content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  gap: 2px;
}

.vertical-card-div h3 {
  font: bold 2.8rem "Arial";
  width: fit-content;
  margin: 20px auto;
  text-align: center;
}

.vertical-card-div p {
  font: 500 1.1rem "Arial";
  line-height: 1.5;
  max-width: 279px;
  text-align: center;
}

.vertical-card-div a {
  display: inline-block;
  margin: 28px !important;
}

.bottom-info-links-div {
  display: flex;
  gap: 2.8rem;
  flex-direction: column;
  justify-content: center;
}

.bottom-info-links-div .bottom-infos-div {
  display: flex;
  justify-content: space-between;
}

.bottom-infos-div .info-div {
  text-align: center;
  width: 32%;
}

.info-div h4 {
  text-align: center;
  font: 600 1.3rem "Arial";
  padding: 15px 0;
}

.info-div h5 {
  margin: auto;
  text-align: center;
  font: 500 1rem "Arial";
  width: 100%;
}

.bottom-info-links-div a {
  margin: 16px auto 15px auto !important;
}

/* SECTION 7 STYLES-------------------------------------------------------------------------------------- */
.section7-bg-div {
  height: fit-content;
  background: #f2f2f2;
  text-align: center;
  padding: 15vh 0 calc(15vh - 40px) 0;
}

.section7-bg-div .container {
  width: 71vw;
}

.section7-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section7-bigger-card {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.section7-bigger-card div {
  background: url("https://css-exam-mu.vercel.app/img/ios17.jpg")center/cover no-repeat;
  height: 50vh;
  width: 100%;
  margin: 10px auto 0 auto;
  text-align: center;
}

.section7-cards h2 {
  font: bold 3rem "Arial";
  padding: 20px 0;
  margin: auto;
}

.section7-cards h3 {
  font: 500 2.8rem "Arial";
  padding: 10px 0;
}

.section7-cards p {
  font: 500 1rem "Arial";
  line-height: 1.4;
}

.section7-cards .learn-more {
  display: inline-block;
}

.section7-smaller-card {
  width: 49.1%;
  background-color: #fff;
  padding: 10px;
  margin: 40px 0;

  a {
    margin-bottom: 7px;
  }
}

.section7-cards .left h3 {
  line-height: 0.8 !important;
  padding: 20px 0;
}

.section7-cards .right h3 {
  width: 55.9%;
  line-height: 1.25;
  text-align: center;
  margin: auto;
}

.section7-cards .left div {
  background: url("https://css-exam-mu.vercel.app/img/applebg.jpeg")center/cover no-repeat;
  height: 40vh;
  margin: 30px 0;
}

.section7-cards .right div {
  background: url("https://css-exam-mu.vercel.app/img/privacy.jpg")center/cover no-repeat;
  height: 40vh;
  margin: 30px 0 0 0;
}

/* SECTION 8 STYLES------------------------------------------------------------------------------------ */
.section8-bg-div {
  background: #f2f2f2;
}

.section8-bg-div .container {
  width: 71vw;
}

.bottom-cards-div h2 {
  font: bold 3rem "Arial";
  width: fit-content;
  padding: 20px 0;
  margin: auto;
}

.section8-bg-div .bottom-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom-cards .bottom-card-bigger {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 42px 10px;
  background-color: #fff;
}

.bottom-cards .bottom-card-bigger .imageDiv {
  background: url("https://css-exam-mu.vercel.app/img/applebg2.jpeg")center/cover no-repeat;
  width: 50%;
  height: 42vh;
}

.bottom-cards .bottom-card-bigger .content {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 29.5%;
    margin: 0 auto;
  }

  p {
    font: 500 1.4rem "Arial";
    margin: 20px auto;
  }

  a {
    display: inline-block;
    margin: 15px 0 35px 0;

    i {
      margin-right: 8px;
    }
  }
}

.bottom-card-smaller {
  padding: 10px;
  margin-top: 40px;
  width: 49.1%;
  background: #090a0e;
  text-align: center;

  i {
    color: white;
  }

  p {
    color: white;
    font: 500 1.4rem "Arial";
  }

  h3 {
    color: white;
    font: 500 2.8rem "Arial";
    padding: 16px 0;
  }

  .smaller-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    a {
      display: inline-block;
      padding: 20px 0 25px 0;

      i {
        color: #005ac1;
      }
    }
  }

  .smaller-bg-tv {
    height: 40vh;
    background: url("https://css-exam-mu.vercel.app/img/tv+_bg.png")center/cover no-repeat;
  }

  .smaller-bg-music {
    background: url("https://css-exam-mu.vercel.app/img/music_bg.jpg")center/cover no-repeat;
    height: 34.5vh;
    margin-top: 45px;
    margin-bottom: 10px;
  }

  .smaller-bg-fitness {
    background: url("https://css-exam-mu.vercel.app/img/fitness_bg.jpg")center/cover no-repeat;
    height: 40vh;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .smaller-bg-arcade {
    background: url("https://css-exam-mu.vercel.app/img/arcade_bg.png")center/contain no-repeat;
    height: 40vh;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .smaller-bg-news {
    background: url("https://css-exam-mu.vercel.app/img/news_bg.jpeg")bottom/cover no-repeat;
    height: 31.5vh;
    margin-top: -2px;
    margin-bottom: 35px;
  }

  .smaller-bg-gift {
    background: url("https://css-exam-mu.vercel.app/img/gift_bg.jpg")center/cover no-repeat;
    height: 40vh;
    margin-top: -2px;
    margin-bottom: 35px;
  }
}

.tv {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  i {
    font-size: 2.8rem;
  }
}

#white-card {
  background: white;

  .tv {
    gap: 5px;

    i {
      font-size: 1.95rem;
    }
  }

  i {
    color: black;
  }

  p {
    color: black;
  }

  h3 {
    color: black;
    padding: 12px 0;
  }

  a i {
    color: #005ac1;
  }
}

.second-bottom-bigger {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 140px 10px;
  margin: 60px auto 30px auto;

  .studies-bg {
    background: url("https://css-exam-mu.vercel.app/img/research_app.jpg")center/cover no-repeat;
    height: 35vh;
    width: 50%;
  }

  .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      text-align: center;
      line-height: 0.8 !important;
      font: 500 2.8rem "Arial";
    }

    p {
      font: 500 1.1rem "Arial";
      padding: 25px 0 15px 0;
    }
  }
}

/* SECTION 9 STYLES------------------------------------------------------------------------------------ */
.section9-bg-div .container {
  width: 72vw;
  padding: 30px 0;

  p {
    text-align: justify;
    font: 400 0.9rem "Arial";
    color: #0000007a;
  }

  ol {
    list-style: decimal;
    padding: 0 0 30px 30px;

    li::marker {
      font: 400 0.9rem "Arial";
      color: #0000007a;
    }
  }
}

#bottom-hr {
  left: 0;
  position: relative;
  display: block;
  width: 100%;
}

/* FOOTER STYLES--------------------------------------------------------------------------------- */
.footer-first-link {
  display: flex;
  align-items: center;
  margin: 0 25px;
  gap: 40px;

  .fa-apple {
    font-size: 1.6rem;
  }

  .fa-chevron-right {
    margin-right: 5px;
    font-size: 0.8rem;
  }

  p {
    font: 500 0.8rem "Arial";
    color: #090a0e;
  }
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .all-footer {
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  display: flex;
  height: 58.5vh;
  flex-wrap: wrap;
  margin: auto;

  .header-li {
    margin-bottom: 15px;
  }

  a {
    color: #000000bd;
    font: 500 0.8rem "Arial";
  }

  .header-li h6 a {
    font: 500 0.9rem "Arial";
    color: #000000bd;
  }

  ul {
    width: 13.2vw;
    margin-left: 20px;
  }

  li {
    margin: 3px 0;
  }
}

footer .all-footer div {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
}

footer h5 {
  font: 500 0.8rem "Arial";
  color: #000000bd;
}

footer h5 a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin: 20px 0;
  color: #005ac1;
}

section {
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

section p {
  font: 500 0.8rem "Arial";
  color: #000000bd;
  padding-bottom: 20px;
}























/*RESPONSIVE DESIGN FOR MAX OF 768 PIXELS ____________________________________________________________________*/
@media (max-width: 432px) {
  .container {
    width: 90% !important;
  }

  .hamburger {
    display: flex;
  }

  .bg-div-nav {
    position: relative;
  }

  .bg-div-nav nav .nav-items {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    top: 0;
    right: 100%;
    height: 100vh;
    align-items: start;
    padding: 100px 0 0 40px;
    background-color: #fff;
    z-index: 10;
    transition: .6s ease-in-out;
  }

  .fa-xmark {
    z-index: 9999 !important;
  }

  .bg-div-nav nav ul li a {
    font: 540 1.2rem "Arial";

  }
  .advertising-div p{
    width: 92%;
    margin: auto !important;
  }
  .slider {
    overflow-x: auto;
    scrollbar-width: none;
    gap: 38.5px !important;
    align-items: start;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  /*Titanium part change---------------------------------------------------------------------------------*/
  .header-main-titanium {
    height: 106vh !important;
    overflow: hidden !important;
  }

  .header-main-titanium div {
    transform: rotate(90deg);
    overflow: hidden !important;
  }

  .main-titanium {
    margin-left: 120px !important;
    height: 80px !important;
  }

  /*Newphoria part changes---------------------------------------------------------------------------------*/
  .header-main-newphoria {
    height: 80vh;
  }

  .header-main-newphoria div {
    height: 60vh;
    padding: 20px 0;
    align-items: start !important;
  }

  .header-main-newphoria h3 {
    font-size: 1.8rem;
    margin-top: 0.3rem !important;
  }

  .header-main-newphoria div {
    width: 100% !important;
  }

  .header-main-newphoria img {
    width: 100% !important;
    height: 18vh;
    margin: 0 !important;
  }

  /*3rd section style changes------------------------------------------------------------------------------*/
  .section3-bg-div {
    height: 108vh;
    padding: 1rem 0 !important;
  }

  .section3-bg-div .container {
    flex-direction: column !important;
    gap: 15px !important;
  }

  .section3-bg-div .content h3 {
    font-size: 2rem !important;
  }

  .section3-bg-div .image {
    height: 50vh;
    width: 100% !important;
    text-align: center;
  }

  .section3-bg-div .image img {
    height: 100%;
  }

  /*4th section style changes-----------------------------------------------------------------------------*/
  .section4-bg-div .container {
    align-items: center;
    justify-content: start !important;
    text-align: center;
  }

  .section4-bg-div a {
    background-color: transparent !important;
    color: #1e3791;
    margin-bottom: -15px !important;
  }

  .fa-circle-play {
    display: inline-block !important;
  }

  .section4-bg-div {
    background: transparent;
    height: 85vh;
    margin-left: 0px;
    margin-right: 0px;
  }

  .section4-bg-div h2,
  .section4-bg-div h3 {
    color: black !important;
  }

  .section4-bg-div h2 {
    font-size: 1.75rem !important;
    width: 190px;
    line-height: 1.4 !important;
  }

  .section4-bg-div2 {
    background: url("https://css-exam-mu.vercel.app/img/applebg12.jpeg")center/cover !important;
    height: 50vh;
    width: 100% !important;
  }

  /*Section 5 style changes--------------------------------------------------------------------------*/
  .section5-bg-div {
    height: 596vh;
  }

  .section5-bg-div .container {
    width: 85vw;
  }

  .section5-bg-div .container .phone-card {
    margin: 0 auto;
  }

  .section5-bg-div h1 {
    font: bold 2rem "Arial" !important;
  }

  hr {
    left: 10%;
    width: 80%;
  }

  /*Section 6 style changes-----------------------------------------------------------------------------*/
  .section6-bg-div .container h2 {
    font: 500 1.8rem "Arial";
    width: 100% !important;
  }

  .section6-bg-div {
    height: 620vh !important;
  }

  .section6-bg-div .cards-div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .9rem;
  }

  .section6-bg-div .card-div {
    width: 92%;
    margin: auto;
  }

  .section6-bg-div .card-div h3 {
    width: 85%;
  }

  .section6-bg-div .card-div p {
    width: 100%;
  }

  .section6-bg-div .card-div .img-div2 img {
    width: 40%;
  }

  .section6-bg-div .card-div .img-div3 img {
    width: 50%;
  }

  .section6-bg-div .one-card-div h2 {
    font: bold 2rem "Arial" !important;
  }

  .section6-bg-div .one-card-div p {
    width: 90%;
  }

  .section6-bg-div .one-card-div {
    background: white;
    height: 66vh !important;
    width: 94%;
    margin: 1rem auto 0 auto;
  }

  .section6-bg-div .one-card-responsive {
    background: url("https://css-exam-mu.vercel.app/img/applebg6.jpeg")left/cover !important;
    height: 25vh !important;
    width: 90%;
    margin: auto;
  }

  .section6-bg-div .vertical-cards-div {
    padding: 0 !important;
    gap: 0 !important;
  }

  .vertical-cards-div h2 {
    font: bold 2rem "Arial" !important;
    margin: 20px 0 !important;
    max-width: 100%;
  }

  .section6-bg-div .vertical-card-div {
    flex-direction: column;
    width: 94%;
    margin: 0 auto 20px auto;
    padding: 10px 0 !important;
  }

  .vertical-card-div .content {
    width: 100%;
    padding: 0 !important;
  }

  .vertical-img-div {
    width: 69% !important;
    height: 38vh !important;
  }

  .vertical-img-div img {
    padding: 0 !important;
  }

  .vertical-card-div .content h3 {
    font: bold 1.8rem "Arial";
  }

  .vertical-cards-div .air .vertical-img-div img {
    display: none;
  }

  .vertical-cards-div .air .content p {
    width: 90% !important;
    margin: 13px auto;
    line-height: 1;
  }

  .vertical-cards-div .air .vertical-img-div {
    order: 1;
    background: url("https://css-exam-mu.vercel.app/img/airtag__b81h4czx41yq_medium.jpg")center/contain no-repeat;
    height: 30vh !important;
    margin: 25px auto !important;
  }

  .vertical-cards-div .magic p {
    font: 500 1rem "Arial";
    width: 92% !important;
  }

  .vertical-cards-div .magic .vertical-img-div {
    height: 18vh !important;
    width: 77% !important;
    margin: 20px auto 10px auto;
  }

  .bottom-info-links-div .bottom-infos-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
  }

  .bottom-info-links-div .bottom-infos-div .info-div {
    margin: 0 auto;
    width: 95%;
  }

  /* section 7 style changes ---------------------------------------------------------------------------*/
  .section7-bg-div {
    padding-bottom: 15vh;
  }

  .section7-cards h2 {
    font: bold 2rem "Arial";
  }

  .section7-cards h3 {
    font: 500 1.8rem "Arial";
  }

  .section7-cards .section7-bigger-card div {
    display: none;
  }

  .section7-cards .section7-bigger-card h3 {
    padding-top: 13px;
    padding-bottom: 12px;
  }

  .section7-cards .section7-bigger-card a {
    margin-bottom: 27px;
  }

  .section7-cards .section7-bigger-card,
  .section7-cards .section7-smaller-card {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }

  .section7-cards .section7-smaller-card {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .section7-cards .left div {
    margin: 30px 0 10px 0 !important;
  }

  .section7-cards .right h3 {
    width: 50.5%;
    line-height: 1.5;
  }

  .section7-cards .right div {
    margin: 30px 0 10px 0;
  }

  /* section 8 style changes--------------------------------------------------------------------------- */
  .section8-bg-div .container {
    width: 89.2vw !important;
  }

  .bottom-cards-div h2 {
    font: bold 2rem "Arial";
    text-align: center;
  }

  .bottom-card-bigger {
    padding: 10px !important;
  }

  .bottom-card-bigger a {
    margin-bottom: 28px !important;
  }

  .bottom-card-bigger img {
    height: 2.5rem !important;
    width: auto !important;
    object-fit: contain;
  }

  .bottom-card-bigger .imageDiv {
    display: none;
  }

  .bottom-card-bigger .content {
    width: 100% !important;
  }

  .bottom-card-smaller {
    width: 100% !important;
  }

  .bottom-card-smaller h3 {
    font: 500 1.8rem "Arial" !important;
  }

  .tv {
    gap: 8px !important;

    i {
      font-size: 1.8rem !important;
    }
  }

  .smaller-bg-tv {
    margin-bottom: 10px !important;
  }

  #white-card .tv i {
    font-size: 1.25rem !important;
  }

  #white-card .tv {
    gap: 5px !important;
  }

  #white-card .tv h3 {
    padding: 15px 0 !important;
  }

  .second-bottom-bigger {
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 20px 10px !important;

    .studies-bg {
      width: 100%;
      height: 27vh;
      object-fit: contain !important;
      margin-top: 55px;
      margin-bottom: 30px;
    }

    h3 {
      font: 500 1.8rem "Arial" !important;
      width: 85%;
    }

    .content {
      width: 100%;
    }
  }

  .smaller-bg-gift {
    margin-bottom: 10px !important;
  }

  .smaller-bg-news {
    height: 25vh !important;
    margin-bottom: 115px !important;
    /* padding-top: 20px !important; */
  }

  /* Footer style changes */
  footer ul {
    width: fit-content !important;
  }
  .all-footer {
    flex-direction: column !important;
    height: auto !important;
    gap: 0px !important;
    padding: 0 !important;
    #header-li {
      display: block;
      label {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0!important;
      border-bottom: 1px solid #dbdbdb !important;
      width: 100% !important;
      margin: 0 !important;
      }
      i{
        font-size: 0.8rem;
        color: #000000bd;
      }
    }
    ul{
      width: 100% !important;
      margin: auto !important;
    }
    .hrBottom{
      border-bottom: none !important;
    }
    li {
      display: none;
      margin: 0 !important;
      padding: 1px 22px !important;
      a{
      font: 500 0.8rem "Arial" !important;
      }
      h6{
        width: 100%;
      }
    }

    div {
      gap: 0px !important;
    }
  }

  .ul-separator {
    position: relative !important;
    left: 0 !important;
    width: 100% !important;
    border-top: 1px solid #f3f3f3 !important;
  }
  .footer-first-link{
    width: 92%;
    margin: auto;
    .fa-apple{
      font-size: 1.5rem;
    }
  }
  section {
    flex-direction: column;
    width: 99% !important;
  }
  .fa-chevron-down{
    display: inline-block !important;
  }
  #ul-1{
    li{
      display: none;
    }
  }
}