.container{
  width: 73vw;
  margin: 0 auto;
}
.bg-div-nav{
  background: linear-gradient(to right,#eee,#eee);
}
.advertising-div{
  background: linear-gradient(to right,#eee,#eee);
}
header .container nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

header .container .right-icons{
  display: flex;
  align-items: center;
  gap: 15px;
}

header .container ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container ul a{
  font: 600 0.7rem "Arial";
  transition: .5s;
  border-bottom: 2px solid transparent;
  &:hover{
   border-color: black;
  }
}

header .container a img{
  height: 18px;
}

.hamburger {
  display:none;
  flex-direction: column;
  gap: 4px ;
  cursor: pointer;
  transition: .4s;
}
.hamburger .bar{
  border-radius: 10px;
  width: 18px;
  height: 2px;
  background-color: black;
}

.slider{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  gap: 10px;
}

.slider img{
  width: 60px;  
}

.advertising-div p{
  font: 540 1.3rem "Arial";
  text-align: center;
}
.advertising-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  gap: 15px;
}
.advertising-div a{
  font: 540 1rem "Arial";
  color: blue;
  text-transform: capitalize;
}

/*TITANIUM SECTION STYLES--------------------------------------------------------------------------------------*/

.header-main-titanium,
.header-main-newphoria{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(to right, black , black);
  height: 95vh;
  padding: 45px 0;
}
.header-main-titanium span,
.header-main-newphoria span{
  font: 540 0.8rem "Arial";
  color: #bf4800 ;
  text-transform: capitalize;
}
.header-main-titanium h2,
.header-main-newphoria h2,
.section3-bg-div .content h2{
  font: 540 1.1rem "Arial";
  text-transform: capitalize;
  color: gray;
  margin: 10px 0;
}
.header-main-titanium .titanium-img{
  height: 2.55rem;
  margin: 0;
}

.header-main-titanium p,
.header-main-newphoria p,
.section3-bg-div .content p{
  font: 540 0.9rem "Arial";
  color: white;
  margin: 15px 0;
}
.buy{
  color: white;
  background-color: rgb(19, 106, 255);
  padding: 12px 27px;
  border-radius: 20px;
  font: 540 .8rem "Arial";
  text-transform: capitalize;
  margin: 10px 0;
  transition: .3s;
  &:hover{
    box-shadow: 5px 5px 10px -2px #eee;
  }

}
.learn-more{
  color: rgb(19, 106, 255);
  font: 540 1rem "Arial";
  text-transform: capitalize;
  margin: 15px 0;
}
.header-main-titanium div{
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-main-titanium img{
  margin: auto;
  height: 42%;
}
/*NEWPHORIA SECTION STYLES------------------------------------------------------------------------------------*/
.header-main-newphoria{
  overflow: hidden;
  height: 96vh;
  background:linear-gradient(to right,white,white);
}
.header-main-newphoria h3{
  font: 540 2.8rem "Arial";
  text-transform: capitalize;
}
.header-main-newphoria h2,
.section3-bg-div .content h2{
  color: black;
}
.header-main-newphoria p{
  color: black;
}
.header-main-newphoria div{
  height: 70vh;
  display: flex;
  align-items: end;
}

.header-main-newphoria img{
  height: 54vh;
}

/*SECTION 3 STYLES*/
.section3-bg-div{
  height: 100vh;
}
.section3-bg-div .container{
  display: flex;
  gap:180px;
  align-items: center;
  justify-content: center;
}
.section3-bg-div .container .content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3-bg-div .content p{
  color: black;
  font-size: 1.2em;
}

.section3-bg-div .image{
  height: 100vh;
}
.section3-bg-div .image img{
  height: 100%;
}
/* .section3-bg-div .content h2{
  font: 400 1.1rem "Arial";
  text-transform: capitalize;
} */
.section3-bg-div .content h3{
  text-align: center;
  font: 600 3rem "Arial";
  line-height: 1.7;
  color: #1e3791;
}


/*RESPONSIVE DESIGN FOR MAX OF 768 PIXELS ____________________________________________________________________*/
@media (max-width: 432px){
  .container{
    width: 95%;
  }
  .hamburger {
    display:flex;
  }
  .bg-div-nav{
    position: relative;
  }
  .bg-div-nav nav .nav-items{
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: start;
    padding: 100px 0 0 25px;
    background-color: #fff;
  }
  .bg-div-nav nav ul li a{
    font: 540 1.2rem "Arial";
    
  }
  .slider{
    overflow-x: auto;
    scrollbar-width: none;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
}